services:

  postgres:
    image: postgres:15.3-alpine3.18
    environment:
      - POSTGRES_PASSWORD=root
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    hostname: postgres
    container_name: api_postgres
    networks:
      - wpp-network

  api:
    build: .
    volumes:
      - .:/home/app
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    hostname: api
    container_name: api
    stdin_open: true
    tty: true
    networks:
      - wpp-network

  wppconnect-server:
    build:
      context: ./wppconnect-server
      dockerfile: Dockerfile
    restart: always
    image: wppconnect-server
    container_name: wppconnect-server
    hostname: wppconnect-server
    entrypoint: docker-entrypoint.sh yarn dev
    ports:
      - 21465:21465
    networks:
      - wpp-network
    tty: true

volumes:
  postgres:


networks:
  wpp-network:
    driver: bridge
